.table-container {
    border: 1px solid black ;

    &__table {
        &-head {
            background: black;
        }

        &-cell {
            color: white !important;
            font-weight: 600 !important;
        }

        &-button {
            padding: 5px 15px;
            margin: 0px 5px;
            border: 1px solid gray ;
            background: #f5f5f5;
        }

        &-button:disabled {
            background: none;
            border: 1px solid gainsboro ;
        }
    }
}
