.animal-card {
    height: 100%;
    border: black 1px solid;

    &-button {
        padding: 10px;
        font-weight: 600;
        background: none;
        border: none;
        border-top: 1px solid;
        cursor:pointer;
    
    }

    &__header {
        color: "white";
        padding: 20px;

        &-text-container {
            margin-bottom: -5px;
        }

        &-img {
            width: 120px;
            height: 120px;
            border-radius: 50%;
        }

        &-text {
            color: white;
        }

        &-logo {
            width: 40px;
            height: 40px;
        }
    }

    &__bottom {
        padding: 5px 15px;

        &-attribute {
            padding: 4px 0px;

            &-text {
                color: #b4b4b4;
                font-weight: 800;
                font-size: 0.6rem;
            }
        }
    }

    .cat {
        background-color: #6315a0;
    }

    .dog {
        background-color: #518f3c;
    }
}
